@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html {
  --bg: #f5f6f7;
  --hover: #efefef;
  --color-text: rgb(75, 74, 74);
  --orange: #ff735c;
  --shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  --border: 1px solid rgba(0, 0, 0, 0.3);
}

html[data-theme=dark] {
  --bg: #131419;
  --hover: #535252;
  --color-text: #ffffff;
  --orange: #ff735c;
  --shadow: 0px 0px 10px rgba(255, 255, 255, 0.3),
    3px 3px 15px rgba(0, 0, 0, 0.5);
  --border: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: white;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--bg);
  max-width: 1920px;
  height: 100vh;
  margin: auto;
}

p {
  margin-bottom: 0;
}

.fas {
  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
main .main_title h2 {
  font-size: 3.2rem;
  color: var(--color-text);
}
main .main_title h2 i {
  color: var(--orange);
}
main .main_title h1 {
  font-size: 6.4rem;
  color: var(--color-text);
}
main .calculator_container {
  display: flex;
  align-items: flex-end;
}
main .calculator_container .man_standing img {
  width: 250px;
}
main .calculator_container .calculator {
  width: 300px;
  height: 100%;
  border-radius: 20px;
  background: var(--bg);
  box-shadow: var(--shadow);
}
main .calculator_container .calculator .mobile_notch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
  font-size: 1.2rem;
  padding: 1rem 2rem;
}
main .calculator_container .calculator .calc_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 10px 20px;
  color: var(--color-text);
  font-size: 2rem;
}
main .calculator_container .calculator .calc_heading p span {
  color: var(--orange);
  font-size: 0.5rem;
}
main .calculator_container .calculator .calc_heading .toggle_switch label span {
  display: none;
}
main .calculator_container .calculator .calc_heading .toggle_switch label input[type=checkbox] {
  appearance: none;
}
main .calculator_container .calculator .calc_heading .toggle_switch label input[type=checkbox]:checked ~ .fas {
  color: var(--orange);
}
main .calculator_container .calculator .result {
  position: relative;
}
main .calculator_container .calculator .result .history {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100px;
}
main .calculator_container .calculator .result .history .upper_value {
  width: 100%;
  text-align: end;
  word-wrap: break-word;
  padding: 0 2rem;
  font-size: 2rem;
  color: var(--color-text);
}
main .calculator_container .calculator .result .output {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main .calculator_container .calculator .result .output .lower_value {
  padding: 0.5rem 2rem;
  font-size: 3rem;
  color: var(--color-text);
  font-weight: bold;
  word-wrap: break-word;
  overflow-x: auto;
  text-align: right;
}
main .calculator_container .calculator .keyboard {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}
main .calculator_container .calculator .keyboard > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0.5rem;
}
main .calculator_container .calculator .keyboard > div:nth-child(1) {
  justify-content: flex-start;
}
main .calculator_container .calculator .keyboard > div button {
  padding: 1rem 1.5rem;
  border: none;
  background-color: var(--bg);
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
  color: var(--orange);
}
main .calculator_container .calculator .keyboard > div button:hover {
  background-color: var(--hover);
}
main .calculator_container .calculator .keyboard > div .calc_btn:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
main .calculator_container .calculator .keyboard > div .number {
  color: var(--color-text);
}
main .calculator_container .calculator .keyboard .line_3 {
  justify-content: start;
}
main .calculator_container .calculator .keyboard .line_3 .dropdown-toggle {
  color: var(--color-text);
}
main .calculator_container .calculator .keyboard .line_3 .dropdown-menu {
  padding: 0;
  width: 230px;
  border: none;
  background-color: var(--bg);
}
main .calculator_container .calculator .keyboard .line_3 .dropdown-menu .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: var(--border);
  border-radius: 2px;
}
main .calculator_container .calculator .keyboard .line_3 .function .dropdown-menu {
  width: 210px !important;
}

/* Media Query Start */
@media screen and (max-width: 1440px) {
  main .main_title h2 {
    font-size: 2.6rem;
  }
  main .main_title h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 925px) {
  main .main_title h2 {
    font-size: 2.2rem;
  }
  main .main_title h1 {
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 845px) {
  main {
    height: 100vh;
    padding: 2rem;
  }
}
@media screen and (max-width: 844px) {
  main {
    flex-direction: column;
  }
  main .main_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
  }
  main .main_title h2 {
    font-size: 2.2rem;
  }
  main .main_title h1 {
    margin: 0 1rem;
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 590px) {
  main {
    margin: 0;
  }
  main .main_title h2 {
    font-size: 2rem;
  }
  main .main_title h1 {
    font-size: 3.4rem;
  }
  main .calculator_container .man_standing img {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  main .main_title h2 {
    font-size: 1.6rem;
  }
  main .main_title h1 {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 320px) {
  main .main_title h2 {
    font-size: 1.6rem;
  }
  main .main_title h1 {
    font-size: 2.8rem;
  }
}
/* Media Query End *//*# sourceMappingURL=app.css.map */