/* Media Query Start */
@media screen and (max-width: 1440px) {
  main {
    .main_title {
      h2 {
        font-size: 2.6rem;
      }
      h1 {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
    height: 100vh;
    padding: 2rem;

    .main_title {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 4rem 0;
      h2 {
        font-size: 2.2rem;
      }
      h1 {
        margin: 0 1rem;
        font-size: 3.8rem;
      }
    }
  }
}
@media screen and (max-width: 590px) {
  main {
    margin: 0;
    .main_title {
      h2 {
        font-size: 2rem;
      }
      h1 {
        font-size: 3.4rem;
      }
    }
    .calculator_container {
      .man_standing {
        img {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  main {
    .main_title {
      h2 {
        font-size: 1.6rem;
      }
      h1 {
        font-size: 3.2rem;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  main {
    .main_title {
      h2 {
        font-size: 1.6rem;
      }
      h1 {
        font-size: 2.8rem;
      }
    }
  }
}
/* Media Query End */
